.tabs {
  display: flex;
  background-color: #e5e5e5;
}
.tab {
  justify-content: left;
  align-items: left;
  width: 25%;
  background: #e5e5e5;
  padding: 1em 0;
  border: none;
}

.tab.active {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.1em;
}
.tab:hover {
  cursor: pointer;
}
.panel {
  display: none;
  height: 400px;
  /* background-color: purple;
  padding: 0 0 0 20px;
  text-align: left; */
}
.panel.active {
  display: block;
}
