.tab.active {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.1em;
}

.menuLink {
  padding: 1rem 2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: rgb(14, 13, 13);
  transition: all 0.3s ease-in;
  background-color: #6a67ce;
}

#catCard {
  box-shadow: 0 0 5px 5px rgba(231, 230, 239, 0.4);
}
.nav-link {
  color: black;
}
